ul#topnav
{
    float: left;
	width: 28%;
	position: relative;	
	height: 35px;
	text-transform: capitalize;
	top: 0px;
	left: 0px;
	background-color:#68A4C4;
    list-style-type:none;
    padding-left:5px
}

ul#topnav li
{
	float: left;
	height: 35px;
	padding: 0px;
	
    padding-left:10px

}

ul#topnav li a
{
	
	display: block;
	color: #FFFFFF;
	text-decoration:none;
	height:8px;
 
}


ul#topnav li a:hover
{
	color:#EA151E;
   
 
}

ul#topnav li ul.children {
height: 50px;
position: absolute;
left: 0px; top: 33px;
display: none;
width: 100px;
font-size:18px;
font-weight:bold;
list-style-type:none;

}

ul#topnav li ul.children li {
 margin-left:30px;
border: none;
background-color:#3333CC;
width:300px
}

ul#topnav li:hover ul {
display: block;

}

ul#topnav li ul a {
display: inline;
color:#FFFFFF;

}

ul#topnav li ul a:hover {
text-decoration:none;
color:#ff0000;
}

ul#topnav li ul li:hover {
background:#005680;

}